table {
  border: solid 1px black;
  width: 70%;
}

td {
  border: solid 1px black;
}

tr {
  line-height: 40px;
}

.highlight {
  background-color: lightgreen;
}

.placed-ship {
  background-color: lightgray;
}
